# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/

# Editor and OS files
*.swp
*.swo
*.swn
*.bak
*.tmp
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs and databases
*.log
*.sqlite3
*.db

# Pytest
.cache/
.pytest_cache/

# VSCode settings
.vscode/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Gunicorn/PID files
*.pid
backup.sh
restore.sh
